<div class="content">
    <div class="container-fluid">
        <div class="page-title-box">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <h4>Yangi guruh yaratish</h4>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <form action="/api/group/add" method="POST">

                            <div class="form-group row">
                                <label style="font-size: 15px;" for="example-text-input"
                                    class="col-sm-12 col-form-label">Guruh nomi</label>
                                <div class="col-sm-6">
                                    <input id="form" class="form-control" name="name" required>
                                </div>

                                <label style="font-size: 15px;" for="example-text-input"
                                    class="mt-3 col-sm-12 col-form-label">Fanning nomi</label>
                                <select class="custom-select  col-sm-5 ml-3 pr-3" name="subjectID" >
                                    <% for (const subject of subjectID) {%>
                                        <option value="<%= subject._id  %>">
                                            <%= subject.subject %>
                                        </option>
                                        <%}%>
                                </select>

                                <label style="font-size: 15px;" for="example-text-input"
                                    class="mt-3 col-sm-12 col-form-label">O'qituvchi</label>

                                <select class="custom-select  col-sm-5 ml-3 pr-3" name="teacherID">
                                    <% for (const teacher of teacherID) {%>
                                        <option  value="<%= teacher._id  %>">
                                            <%= teacher.name %>
                                        </option>
                                        <%}%>
                                </select>
                            </div>

                            

                            <button type="submit"class="btn btn-success btn-sm float-right ml-3 waves-effect waves-light">
                                <i style="font-size: 15px;" class="mdi mdi-plus-box">
                                    Qo'shish
                                </i>
                            </button>
                        </form>
                        


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>