<div class="row pt-3">


 <div class="col-sm-6 col-xl-3">
     <a style="cursor: pointer;" href="/api/user/all">
         <div class="card bg-primary">
             <div class="card-heading p-4">
                 <div class="mini-stat-icon float-right">
                     <i class=" mdi mdi-account bg-warning text-white"></i> <br>
                 </div>
                 <div>
                     <h5 class="text-white" style="font-size: 25px">Foydalanuvchi</h5>
                 </div>
                 <a href="/api/user/all" class=" btn btn-outline-warning mt-3" style="font-size: 16px">Kirish</a>
             </div>
         </div>
     </a>
 </div>


 <div class="col-sm-6  col-xl-3">
     <a style="cursor: pointer;" href="/api/group/all">
         <div class="card  bg-primary">
             <div class="card-heading p-4">
                 <div class="mini-stat-icon float-right">
                     <i class="mdi mdi-account-multiple-plus bg-warning text-white"></i>
                 </div>
                 <div>
                    <h5 class=" text-white" style="font-size: 25px">Guruhlar</h5>
                </div>

                <a href="/api/group/all" class=" btn btn-outline-warning mt-3" style="font-size: 16px">Kirish</a>
             </div>
         </div>
     </a>
 </div>

 <div class="col-sm-6 col-xl-3">
     <a style="cursor: pointer;" href="/api/test/all">
         <div class="card  bg-primary">
             <div class="card-heading p-4">
                 <div class="mini-stat-icon float-right">
                     <i class="mdi mdi-book-multiple-variant bg-warning text-white"></i>
                 </div>
                 <div>
                    <h5 class=" text-white" style="font-size: 25px">Test</h5>
                </div>

                <a href="/api/test/all" class=" btn btn-outline-warning mt-3" style="font-size: 16px">Kirish</a>
             </div>
         </div>
     </a>
 </div>

 <div class="col-sm-6 col-xl-3">
     <a style="cursor: pointer;" href="">
         <div class="card  bg-primary">
             <div class="card-heading p-4">
                 <div class="mini-stat-icon float-right">
                     <i class="mdi mdi-pencil-box bg-warning text-white"></i>
                 </div>
                 <div>
                    <h5 class=" text-white" style="font-size: 25px">Fanlar</h5>
                </div>

                <a href="/subject" class=" btn btn-outline-warning mt-3" style="font-size: 16px">Kirish</a>
             </div>
         </div>
     </a>
 </div>
 <div class="col-sm-6 col-xl-3">
    <a style="cursor: pointer;" href="">
        <div class="card  bg-primary">
            <div class="card-heading p-4">
                <div class="mini-stat-icon float-right">
                    <i class="mdi mdi-pencil-box bg-warning text-white"></i>
                </div>
                <div>
                   <h5 class=" text-white" style="font-size: 25px">Mavzular</h5>
               </div>

               <a href="/api/theme/all" class=" btn btn-outline-warning mt-3" style="font-size: 16px">Kirish</a>
            </div>
        </div>
    </a>
</div>


</div> 