<div class="row pt-3">


    <div class="col-sm-6 col-xl-3">
        <a style="cursor: pointer;" href="/api/user/all">
            <div class="card bg-primary">
                <div class="card-heading p-4">
                    <div class="mini-stat-icon float-right">
                        <i class="mdi mdi-account bg-warning text-white"></i>
                    </div>
                    <div>
                        <h5 class="font-16 text-white">All Users</h5>
                    </div>

                    <h3 class="mt-4 text-white">
                        <%= user %>
                    </h3>
                </div>
            </div>
        </a>
    </div>


    <div class="col-sm-6  col-xl-3">
        <a style="cursor: pointer;" href="/api/group/all">
            <div class="card  bg-primary">
                <div class="card-heading p-4">
                    <div class="mini-stat-icon float-right">
                        <i class="mdi mdi-account-multiple-plus bg-warning text-white"></i>
                    </div>
                    <div>
                        <h5 class="font-16 text-white">All Group</h5>
                    </div>
                    <h3 class="mt-4 text-white">
                        <%= group %>
                    </h3>
                </div>
            </div>
        </a>
    </div>

    <div class="col-sm-6 col-xl-3">
        <a style="cursor: pointer;" href="/api/test/all">
            <div class="card  bg-primary">
                <div class="card-heading p-4">
                    <div class="mini-stat-icon float-right">
                        <i class="mdi mdi-book-multiple-variant bg-warning text-white"></i>
                    </div>
                    <div>
                        <h5 class="font-16 text-white">All Test</h5>
                    </div>
                    <h3 class="mt-4 text-white">
                        <%= test %>
                    </h3>
                </div>
            </div>
        </a>
    </div>

    <div class="col-sm-6 col-xl-3">
        <a style="cursor: pointer;" href="/api/subject/all">
            <div class="card  bg-primary">
                <div class="card-heading p-4">
                    <div class="mini-stat-icon float-right">
                        <i class="mdi mdi-pencil-box bg-warning text-white"></i>
                    </div>
                    <div>
                        <h5 class="font-16 text-white">All Subjects</h5>
                    </div>
                    <h3 class="mt-4 text-white">
                        <%= subject %>
                    </h3>
                </div>
            </div>
        </a>
    </div>


</div>