<div class="row pt-3">

 <div class="col-xl-6">
  <div class="card m-b-30">
   <div class="card-body">

    <h4 class="mt-0 ">All subject</h4>
    <p class="sub-title">
     Here you can see all subjects and may change, remove each of them
    </p>

    <div class="button-items">
     <a href="/api/subject/all" type="button" class="btn btn-outline-success btn-lg btn-block waves-effect waves-light">
      Enter
     </a>
    </div>
   </div>
  </div>
 </div>

 <div class="col-xl-6">
  <div class="card m-b-30">
   <div class="card-body">

    <h4 class="mt-0">Add a new subject</h4>
    <p class="sub-title">
     Here you can add a new subject
    </p>

    <div class="button-items">
     <a href="/subject/new" type="button" class="btn btn-outline-success btn-lg btn-block waves-effect waves-light">
      Enter
     </a>
    </div>
   </div>
  </div>
 </div>
</div>